$pagebackground: #c3cfe2;
$textbackground: #fff;
$backgroundfooter: #686de0;
$border: 20px;

@mixin grid ($direction) {
    display: grid;
    justify-content: center;
    align-items: center;
}

@mixin box1 ($radius) {
    border: 0px solid black;
    border-radius: $radius;
}

@mixin box2 ($radius) {
    border: 10px solid white;
    border-radius: $radius;
}